<%- include('../_partials/head') %>

<div id="background">
  <div id="background-top"></div>

  <div id="foreground">
    <div id="heading">Old Skool Quiz</div>

    <div id="rubbers">
      <a class="rubber" href="/create">Create</a>
      <a class="rubber" href="/join">Join</a>
    </div>
  </div>
</div>

<%- include('../_partials/link-guide') %>
