<div class="img-container"<% if (!_picture) { %> hidden<% } %>>
  <div class="img-card">
    <div>
      <img src="<%= _picture %>" alt="Cannot find a picture at that url &nbsp;">
    </div>
  </div>
</div>
